body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 30px;
  text-align: center;
}

#grid {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
}

.grid-item {

}

#test {
  background-color: aqua;
  padding: 20px;
}
